.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.input {
    border: transparent;
    border-color: transparent;
    border-bottom: solid 1px black;
    height: 40px;
    padding-left: 20px;
    overflow: hidden;
    resize: none;
    outline: transparent;
    width: 260px;
}
