.container {
    background-color: white;
    height: 170px;
    padding: 15px;
    position: relative;
    border-radius: 40px;
}
.btnImage {
    position: absolute;
    right: 10px;
    border: transparent;
    background-color: transparent;
}

.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn {
    background-color: rgb(104, 192, 255);
    width: 100px;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    border: transparent;
    &:hover,
    &:focus {
        background-color: rgb(77, 180, 254);
    }
}
