.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn {
    padding: 10px;
    border-radius: 20px;
    background-color: gold;
}
.icons {
    position: absolute;
    top: 40px;
    left: 10px;
}
.input {
    padding: 10px;
    padding-left: 30px;
}
.error {
    position: absolute;
    color: red;
    top: 75px;
}
