.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn {
    background-color: rgb(104, 192, 255);
    width: 200px;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    border: transparent;
    &:hover,
    &:focus {
        background-color: rgb(77, 180, 254);
    }
}
.icons {
    position: absolute;
    top: 40px;
    left: 10px;
}
.input {
    border: transparent;
    border-color: transparent;
    border-bottom: solid 1px black;
    height: 40px;
    padding-left: 40px;
    overflow: hidden;
    resize: none;
    outline: transparent;
}
.error {
    position: absolute;
    color: red;
    top: 73px;
}
