.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.loading {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.title {
    margin-top: 40px;
}
